body {
	margin: auto 0;
}

.container {

}

.section {

}

.navbar {
	border: dashed;
}

.nav-links {
	display: flex;
	font-size: 24px;
	list-style: none;
}

li {
	padding: 20px;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

li:hover {
	text-decoration: underline;
}

.push-link {
	margin-left: auto;
}

.banner {
	display: flex;
	border: dashed;
	font-size: 40px;
	height: 50vh;
	align-items: center;
	justify-content: center;
}

.grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	grid-gap: 10px;
}

.grid-box {
	border: dashed;
	padding: 20px;
	margin: 20px;
}

.grid-box > img {
	width: 100%;
}

footer {
	border: dashed;
	font-size: 40px;
	text-align: center;
}
