body {
	margin: auto 0;
}

.container {

}

.section {

}

.navbar {
	border: dashed;
}

.nav-links {
	display: flex;
	font-size: 24px;
	list-style: none;
}

li {
	padding: 20px;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

li:hover {
	text-decoration: underline;
}

.push-link {
	margin-left: auto;
}

.banner {
	border: dashed;
	padding: 225px;
	font-size: 40px;
	text-align: center;
	vertical-align: middle;
}

.footer {
	border: dashed;
	font-size: 40px;
	text-align: center;
}
