body {
	margin: auto 0;
}

.navbar {
	border: dashed;
}

.sticky {
	position: fixed;
	top: 0;
	width: 100%;
}

.nav-links {
	display: flex;
	font-size: 24px;
	list-style: none;
}

li {
	padding: 0px 20px 0px 20px;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

li:hover {
	text-decoration: underline;
}

.push-link {
	margin-left: auto;
}

.section-banner {
	display: flex;
	border: dashed;
	height: 50vh;
}

.banner-image {
	width: 100%;
}

.grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	grid-gap: 10px;
}

.grid-box {
	border: dashed;
	padding: 20px;
	margin: 20px;
}

.grid-box > img {
	width: 100%;
}

.continue-link {
	display: grid;
	border-top: dashed;
	font-size: 22px;
	width: 100%;
	justify-content: center;
	align-items: center;
	padding-top: 10px;
	font-family: 'Nanum Gothic', sans-serif;
}

footer {
	border: dashed;
	font-size: 40px;
	text-align: center;
}
